
<body class="body-juego">
        <div class="centrador">
          <img src="Imagenes/logo.png" alt="">
            <div class="juego-contenedor">
                <div class="pie-de-pagina">
                    <h2>@ViewBag.username</h2>
                    <h2>Puntaje actual: @ViewBag.puntajeActual</h2>
                </div>
                <div class="pregunta-contenedor">
                    <h1>Pregunta @ViewBag.cantidadPreguntas</h1>
                    <h2>@ViewBag.SigPregunta.Enunciado</h2>
                </div>
                                       
                @foreach (Respuestas opcion in ViewBag.SigRespuesta)
                {
                    <div class="boton">
                        <a href='@Url.Action("VerificarRespuesta", "Home", new { idPregunta = opcion.idPregunta, idRespuesta = opcion.idRespuesta })'>@opcion.Contenido</a>
                    </div>
                }
            </div>
        </div>
</body>
